{% extends 'seller/base.html' %}
{% load static %}

{% block content %}


<main class="col-md-9">
   <h1>My products</h1>
   <div class="container-fluid">
      <div class="row">
         {% for product in products %}
         <div class="card col-md-4 d-inline-block">
            <img src="{{product.image.url}}" class="card-img-top h-50" alt="...">
            <div class="card-body">
              <h5>{{product.product_name}}</h5>
              <h5>Avilable stock : {{product.stock}}</h5>
            </div>
          </div>
          {% endfor %}

      </div>
   </div>
</main>


{% endblock %}